body {
	padding-top: 70px;
}


/*{{{ Navbar */

/*{{{ Navbar general */

.navbar-inverse .navbar-inner {
	background: #1c1f28;
}

.navbar-fixed-top .navbar-inner,
.navbar-fixed-bottom .navbar-inner {
	padding: 0;
}

.navbar-fixed-top,
.navbar-fixed-bottom,
.navbar-static-top {
	margin: 0;
}

/*}}}*/

/*{{{ Links */

/*{{{ Links general */

.navbar .nav > li:first-child > a {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.navbar .nav > li > a {
	border: 0px;
	padding: 15px 20px 15px;
}

/*}}}*/

/*{{{ Active links */

.navbar-inverse .nav > li.active > a {
	background: #1c1f28;
	color: #FFF;
}

.navbar-inverse .nav > li.active > a:hover,
.navbar-inverse .nav > li.active > a:focus {
	background: #1c1f28;
	color: #FFF;
}

.navbar-inverse .nav > li:first-child.active > a {
	padding-left: 20px;
}

/*}}}*/

/*{{{ Inactive links */

.navbar-inverse .nav > li > a {
	background: #1c1f28;
	color: #494857;
}

.navbar-inverse .nav > li > a:hover,
.navbar-inverse .nav > li > a:focus {
	background: #1c1f28;
	color: #FFF;
	border: 0;
}

/*}}}*/

/*}}}*/

/*}}}*/


/*{{{ Buttons */

.btn {
	padding: 14px 12px 14px;
}

.btn.btn-large {
	padding: 15px 18px 15px;
	padding: 50px 20px 50px;
}

.btn.btn-inverse {
	background: #1c1f28;
}

.btn.btn-inverse:hover,
.btn.btn-inverse:focus {
	background: #314050;
}

/*}}}*/


/*{{{ Form elements */
form {
	padding: 0;
	margin: 70px 0 0;
}

input[type=text],
button,
.btn {
	margin: 0 0 20px;
}

input[type=text]:focus {
	border-color: #1c1f28;
}

input[type=text] {
	width: 100%;
	box-sizing: border-box;
	padding: 23px 5px;
}
/*}}}*/
